body, html {
  height: 100%;
}

.bigparallax {
  min-height: 800px;
  background-image: url(images/joel2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.military {
  min-height: 300px;
  background-image: url(images/military.jpg);
  opacity: 0.6;
}

.highschool {
  min-height: 300px;
  background-image: url(images/highschool.jpg);
  opacity: 0.6;
}

.civilian {
  min-height: 300px;
  background-image: url(images/civilian.JPG);
  opacity: 0.6;
}

.wine {
  min-height: 300px;
  background-image: url(images/Wine.JPG);
  opacity: 0.6;
}

.grandparents {
  min-height: 300px;
  background-image: url(images/grandparents.JPG);
  opacity: 0.6;
}

.boat {
  min-height: 300px;
  background-image: url(images/boat.JPG);
  opacity: 0.6;
}

.military, .highschool, .civilian, .wine, .grandparents, .boat {
  position: relative;
  /* opacity: 0.65; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align:center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.no-tandb-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.shadow-box {
  margin: 0;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.1;
  padding: 80px 30px 80px 80px;
}

.normal-box {
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:30px 60px;
  text-align: justify;
}
