header {
  min-height: auto
  background-size: cover;
  background-position: center;
  background-image: url("joel.jpg");
  height: 800px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  position: relative;
  width: 100%;
  text-align: center !important;
}

/* find out more button */
.btn {
  color: #fff;
  padding: 12px 17px;
  margin: 25px;
  font-family: 'OpenSansBold', sans-serif;
  border: 3px solid #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #31302B;
  transition: all ease 0.8s;
}

/* The beautiful shadow on hover */
.btn:hover {
  box-shadow: inset 200px 0 0 0 #e0e0e0;
}

/* Dark/light underline margin */
hr {
  margin: 30px auto;
}

.header-content {
  padding: 100px 15px;
}

.container {
  text-align:center;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.light-contrast {
  background-color: #d6d6d6;
  padding: 100px 0;
}

.row {
  max-width: initial;
  text-align: center;
}

.dark-heading {
  margin-top: 0;
  color: #000000;
}

hr.dark {
  border-bottom: solid 3px #000000;
  background-color: transparent;
}

h1,
h2,
p {
  font-family: Arial, sans-serif;
}

.college-heading {
  margin-top: 0;
  color: #fff;
}

hr.light {
  border-bottom: solid 3px #fff;
  background-color: transparent;
}

.white-font {
  color: #fff;
}

.college {
  background-color: #434343;
  padding: 100px 0;
}
